

                <div class="main-title-block">
                    <div class="main-title-block__title">Resources</div>

                    <div class="main-title-block__filters">
                        <form data-role="form" class="form-inline">
                            <div class="form-group">
                                <select class="form-control filter-item filter-item_select">
                                    <option selected>Competition: SEABL</option>
                                    <option>Competition: BigV</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="main-subtitle-block">
                    <div class="main-subtitle-block__title">Documents</div>
                </div>

                <div class="main-files-group row">
                    <ul class="files-list">
                        <li class="files-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="#">
                                <img class="files-item__preview" src="images/file-preview/document.png" alt="" />
                            </a>

                            <div class="files-item__info files-item__info_title">
                                <span class="text-emphasize">Title:</span> 2016 season trends
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Uploaded:</span> 27 January 2016
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Author:</span> P. Carey
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Type:</span> PDF
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">League:</span> SEABL
                            </div>
                        </li>

                        <li class="files-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="#">
                                <img class="files-item__preview" src="images/file-preview/document.png" alt="" />
                            </a>

                            <div class="files-item__info files-item__info_title">
                                <span class="text-emphasize">Title:</span> 2016 season trends
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Uploaded:</span> 27 January 2016
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Author:</span> P. Carey
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Type:</span> PDF
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">League:</span> SEABL
                            </div>
                        </li>


                    </ul>
                </div>

                <div class="main-subtitle-block">
                    <div class="main-subtitle-block__title">Video Links</div>
                </div>

                <div class="main-files-group row">
                    <ul class="files-list">
                        <li class="files-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a ng-href="https://youtu.be/bjYHJYMgrC0">
                                <img class="files-item__preview" src="images/file-preview/video.png" alt="" />
                            </a>

                            <div class="files-item__info files-item__info_title">
                                <span class="text-emphasize">Title:</span> 2016 season trends
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Uploaded:</span> 27 January 2016
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Author:</span> P. Carey
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">League:</span> SEABL
                            </div>
                        </li>

                        <li class="files-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a ng-href="https://youtu.be/bjYHJYMgrC0">
                                <img class="files-item__preview" src="images/file-preview/video.png" alt="" />
                            </a>

                            <div class="files-item__info files-item__info_title">
                                <span class="text-emphasize">Title:</span> 2016 season trends
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Uploaded:</span> 27 January 2016
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Author:</span> P. Carey
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">League:</span> SEABL
                            </div>
                        </li>

                        <li class="files-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a ng-href="https://youtu.be/bjYHJYMgrC0">
                                <img class="files-item__preview" src="images/file-preview/video.png" alt="" />
                            </a>

                            <div class="files-item__info files-item__info_title">
                                <span class="text-emphasize">Title:</span> 2016 season trends
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Uploaded:</span> 27 January 2016
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">Author:</span> P. Carey
                            </div>

                            <div class="files-item__info">
                                <span class="text-emphasize">League:</span> SEABL
                            </div>
                        </li>

                    </ul>
                </div>

