
<div class="main-title-block">
    <div class="main__username">Hello Jon!</div>
</div>
<div class="row">
    <div class="table-block col-lg-12 table-responsive">
        <table class="table table-hover table-bordered table-condensed">
            <caption class="table-block__title">Upcoming appointments (next 7 days)</caption>
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>League</th>
                <th>Division</th>
                <th>Round</th>
                <th>Home</th>
                <th>Away</th>
                <th>Venue</th>
                <th>Officials</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle</li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey</li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-success">
                        C
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle</li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey</li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-success">
                        C
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>6 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/bigv.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                        <li class="position-item"><span class="position-item__position">U2:</span></li>
                        <li class="position-item"><span class="position-item__position">RC:</span></li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-info">
                        U
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="alerts-block">
            <div class="block-title">
                <div class="block-title__title">Alerts</div>
                <div class="block-title__alerts">
                    <div class="block-alert bg-primary">5</div>
                    <div class="block-alert bg-warning">2</div>
                </div>
            </div>
            <ul class="block-list">
                <li class="block-item">
                    <div class="block-alert bg-primary">N</div>
                    <div class="block-item__info">
                        New website for Symu.co
                        <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days delays</div>
                    </div>
                    <div class="options"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></div>
                </li>
                <li class="block-item">
                    <div class="block-alert bg-primary">N</div>
                    <div class="block-item__info">
                        New website for Symu.co
                        <div class="date-ago date-ago_warning"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days delays</div>
                    </div>
                    <div class="options"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></div>
                </li>
                <li class="block-item">
                    <div class="block-alert bg-primary">N</div>
                    <div class="block-item__info">
                        New website for Symu.co
                        <div class="date-ago date-ago_warning"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days delays</div>
                    </div>
                    <div class="options"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></div>
                </li>
                <li class="block-item">
                    <div class="block-alert bg-primary">N</div>
                    <div class="block-item__info">
                        New website for Symu.co
                        <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days delays</div>
                    </div>
                    <div class="options"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="commissioner-messages-block">
            <div class="block-title">
                <div class="block-title__title">Commissioner messages</div>
                <div class="block-title__alerts">
                    <div class="block-alert bg-primary">2</div>
                </div>
            </div>
            <ul class="block-list">
                <li class="block-item">
                    <div class="block-photo">
                        <img src="images/user-photos/user-photo.png" alt="" />
                    </div>
                    <div class="block-item__info block-userinfo">
                        <div class="block-userinfo__name">
                            Nina Jones <span class="date-ago">5 minutes ago</span>
                        </div>
                        <div class="block-userinfo__message">
                            Hey You! It's me again:-) I attached new (...)
                        </div>
                        <div class="block-userinfo__settings">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </div>
                    </div>
                </li>
                <li class="block-item">
                    <div class="block-photo">
                        <img src="images/user-photos/user-photo.png" alt="" />
                    </div>
                    <div class="block-item__info block-userinfo">
                        <div class="block-userinfo__name">
                            Nina Jones <span class="date-ago">5 minutes ago</span>
                        </div>
                        <div class="block-userinfo__message">
                            Hey You! It's me again:-) I attached new (...)
                        </div>
                        <div class="block-userinfo__settings">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </div>
                    </div>
                </li>
                <li class="block-item">
                    <div class="block-photo">
                        <img src="images/user-photos/user-photo.png" alt="" />
                    </div>
                    <div class="block-item__info block-userinfo">
                        <div class="block-userinfo__name">
                            Nina Jones <span class="date-ago">5 minutes ago</span>
                        </div>
                        <div class="block-userinfo__message">
                            Hey You! It's me again:-) I attached new (...)
                        </div>
                        <div class="block-userinfo__settings">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </div>
                    </div>
                </li>
                <li class="block-item">
                    <div class="block-photo">
                        <img src="images/user-photos/user-photo.png" alt="" />
                    </div>
                    <div class="block-item__info block-userinfo">
                        <div class="block-userinfo__name">
                            Nina Jones <span class="date-ago">5 minutes ago</span>
                        </div>
                        <div class="block-userinfo__message">
                            Hey You! It's me again:-) I attached new (...)
                        </div>
                        <div class="block-userinfo__settings">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

