<div class="main-title-block">
    <div class="main-title-block__title">Availability</div>
    <div class="main-title-block__filters">
        <form data-role="form" class="form-inline">
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option selected>Period: This month</option>
                    <option>Period: Next month</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option selected>Competition: SEABL</option>
                    <option>Competition: BigV</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div class="calendar-block">
    <calendar-md flex layout layout-fill

                 on-prev-month="prevMonth"
                 on-next-month="nextMonth"
                 on-day-click="dayClick"
                 delete-event="deleteEvent"
                 title-format="'MMMM y'"
                 ng-model='selectedDate'
                 week-starts-on="firstDayOfWeek"
                 tooltips="tooltips"
                 day-format="dayFormat"
                 day-label-format="'EEE'"
                 day-label-tooltip-format="'EEEE'"
                 day-tooltip-format="'fullDate'"
                 day-content="setDayContent"
                 disable-future-selection="false"
            ></calendar-md>
</div>
