

                <div class="row">
                    <div class="main-title-block col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="main-title-block__title main-title-block__title_once">
                            John Doe
                            <span class="text-emphasize">Referee</span>

                            <div class="settings-button settings-button_edit">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </div>

                            <div class="settings-button settings-button_delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="profile-info">
                            <ul class="profile-info-list">
                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        First Name:
                                    </span>
                                    John
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        Last Name:
                                    </span>
                                    Doe
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        Email:
                                    </span>
                                    john@john
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        Phone (H):
                                    </span>
                                    23 2323 2342
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        Phone (B):
                                    </span>
                                    23 2323 2342
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        Phone (M):
                                    </span>
                                    23 2323 2342
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        Adress:
                                    </span>
                                    14 Sample St
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        Suburb:
                                    </span>
                                    Sampler
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        Postcode:
                                    </span>
                                    3000
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        State:
                                    </span>
                                    Victoria
                                </li>

                                <li class="profile-info-item">
                                    <span class="profile-info-item__category text-emphasize">
                                        Level:
                                    </span>
                                    4A
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="photo-block col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="photo-block__photo" src="images/user-photos/user-photo-full.png" alt="">
                        <button class="photo-block__button">Change profile</button>
                    </div>
                </div>


                <div class="main-title-block">
                    <div class="main-title-block__title main-title-block__title_once">
                        Groups
                        <div class="main-title-block__button">
                            <button class="btn-primary btn"><span class="glyphicon glyphicon-plus" data-target="true"></span> Invite to group </button>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="table-block col-lg-12 table-responsive">
                        <table class="table table-hover table-bordered table-condensed">

                            <thead>
                            <tr>
                                <th>League</th>
                                <th>Type</th>
                                <th>Panel</th>
                                <th>Year</th>
                                <th>Seasons</th>
                                <th></th>
                                <th>Game counter</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="table-block__league">
                                    <img src="images/teams/seabl.png" alt="" />
                                </td>

                                <td class="table-block__type">Referee</td>

                                <td class="table-block__panel">2</td>

                                <td class="table-block__year">2013</td>

                                <td class="table-block__seasons">3</td>

                                <td class="table-block__conflicts">J. Chapman; Bendigo(M); Friday</td>

                                <td class="table-block__counter">312</td>

                                <td class="table-block__edit">

                                    <div class="settings-button settings-button_edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </div>

                                    <div class="settings-button settings-button_delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </div>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="main-title-block">
                    <div class="main-title-block__title">Appointments</div>

                    <div class="main-title-block__filters">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <select class="form-control filter-item filter-item_select">
                                    <option>Period: This month</option>
                                    <option>Period: Next month</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control filter-item filter-item_select">
                                    <option>Report: SEABL(M)</option>
                                    <option>Report: SOMEELSE(N)</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="table-block col-lg-12 table-responsive">
                        <table class="table table-hover table-bordered table-condensed">

                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>League</th>
                                <th>Division</th>
                                <th>Round</th>
                                <th>Home</th>
                                <th>Away</th>
                                <th>Venue</th>
                                <th>Officials</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="table-block__date">
                                    <div class="date">29.12.2015</div>
                                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                                </td>
                                <td class="table-block__time">3:00pm</td>

                                <td class="table-block__league">
                                    <img src="images/teams/seabl.png" alt="" />
                                </td>

                                <td class="table-block__division">MEN</td>

                                <td class="table-block__round">12</td>

                                <td class="table-block__home">
                                    <img src="images/teams/braves.png" alt="" />
                                    Berdigo Braves
                                </td>
                                <td class="table-block__away">
                                    <img src="images/teams/frankstone.png" alt="" />
                                    Frankston Blues
                                </td>
                                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                                <td class="table-block__officials">
                                    <ul class="position-list">
                                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle</li>
                                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey</li>
                                    </ul>
                                </td>
                                <td class="table-block__alert">
                                    <div class="block-alert bg-success">
                                        C
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="table-block__date">
                                    <div class="date">29.12.2015</div>
                                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                                </td>
                                <td class="table-block__time">3:00pm</td>

                                <td class="table-block__league">
                                    <img src="images/teams/seabl.png" alt="" />
                                </td>

                                <td class="table-block__division">MEN</td>

                                <td class="table-block__round">12</td>

                                <td class="table-block__home">
                                    <img src="images/teams/braves.png" alt="" />
                                    Berdigo Braves
                                </td>
                                <td class="table-block__away">
                                    <img src="images/teams/frankstone.png" alt="" />
                                    Frankston Blues
                                </td>
                                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                                <td class="table-block__officials">
                                    <ul class="position-list">
                                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle</li>
                                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey</li>
                                    </ul>
                                </td>
                                <td class="table-block__alert">
                                    <div class="block-alert bg-success">
                                        C
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="table-block__date">
                                    <div class="date">29.12.2015</div>
                                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>6 days left</div>
                                </td>
                                <td class="table-block__time">3:00pm</td>

                                <td class="table-block__league">
                                    <img src="images/teams/bigv.png" alt="" />
                                </td>

                                <td class="table-block__division">MEN</td>

                                <td class="table-block__round">12</td>

                                <td class="table-block__home">
                                    <img src="images/teams/braves.png" alt="" />
                                    Berdigo Braves
                                </td>
                                <td class="table-block__away">
                                    <img src="images/teams/frankstone.png" alt="" />
                                    Frankston Blues
                                </td>
                                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                                <td class="table-block__officials">
                                    <ul class="position-list">
                                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                                        <li class="position-item"><span class="position-item__position">U2:</span></li>
                                        <li class="position-item"><span class="position-item__position">RC:</span></li>
                                    </ul>
                                </td>
                                <td class="table-block__alert">
                                    <div class="block-alert bg-info">
                                        U
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
