<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>refbook</title>
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/paper.min.css">

        <link rel="stylesheet" href="styles/main.css">
    </head>

    <body class="container-fluid" ng-app="refbookApp">

        <div class="wrapper container" data-ng-controller="mainController">

            <div class="row" data-ng-show="loginStatus">
                
                <aside class="aside col-lg-2 col-md-2 col-sm-2 col-xs-12">

                    <div class="logo text-center"><a class="logo__link" href="#/home"></a></div>

                    <button type="button" class="navbar-toggle btn-menu" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </button>

                    <nav data-ng-controller="navController" class="navbar navbar-collapse collapse">

                        <ul class="navbar-list nav navbar-nav">
                            <li data-ng-repeat="item in navItems" ng-class="getClass( item.link )" class="navbar-list__item" onclick="document.querySelector('.navbar').classList.remove('in');">
                                <a href="#{{item.link}}">
                                    <span class="glyphicon {{item.iconClass}}" aria-hidden="true"></span>
                                    {{item.title}}
                                </a>
                            </li>


                        </ul>
                    </nav>
                </aside>

                <div class="col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10 col-xs-12 content">

                    <header class="header row">
                        <div class="user-panel col-lg-5 col-lg-offset-7 col-md-offset-5 col-md-7 col-sm-12 col-xs-12">

                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>

                            <span class="glyphicon glyphicon-bell" aria-hidden="true"><span class="badge bg-primary">2</span></span>

                            <div class="user-info">
                                <a href="#/profile" class="user-link">
                                    <div class="user-info__photo">
                                        <img src="images/user-photos/user-photo.png" alt="" />
                                    </div>

                                    <div class="user-info__name">
                                        Jon Chapman
                                        <div class="user-info__position">Referee</div>
                                    </div>
                                </a>


                            </div>

                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </div>
                    </header>

                    <main class="main">

                        <ng-view></ng-view>

                    </main>

                </div>
            </div>

            <div class="row login-page" data-ng-show="!loginStatus">
                <div class="login-form col-lg-12">
                    <div class="login-form-block">
                        <header class="login-form-block__header row">
                            <div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            </div>
                            <div class="login-status col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ul class="login-status-list">
                                    <li ng-class="{ 'active': loginTab === 2}" class="login-status-item" ng-click="loginTab = 2">Register</li>
                                    <li ng-class="{ 'active': loginTab === 1}" class="login-status-item active" ng-click="loginTab = 1">Login</li>
                                </ul>
                            </div>
                        </header>

                        <div class="login-form-block__form" ng-show="loginTab === 1">
                            <div class="form__title">
                                Welcome <span class="login-emphasize">back!</span>
                            </div>
                            <form class="form__block form-horizontal" name="register">
                                <div class="form-group">
                                    <input class="form-input" ng-model="loginData.username" type="text" class="form-control" placeholder="Username">
                                    <span class="glyphicon glyphicon-user" data-target="true"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-input" ng-model="loginData.password" type="password" class="form-control" placeholder="Password">
                                    <span class="glyphicon glyphicon-lock" data-target="true"></span>
                                </div>
                                <div class="form-group">
                                    <button class="form-button" ng-click=" loginStatus= !loginStatus ">
                                        Enter
                                        <span class="glyphicon glyphicon-menu-right" data-target="true"></span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="login-form-block__form" ng-show="loginTab === 2">
                            <div class="form__title">
                                Register Here! <span class="login-emphasize">It’s free to join</span>
                            </div>
                            <form class="form__block form-horizontal" name="register">

                                <div class="form-group">
                                    <input class="form-input" ng-model="registerData.firstname" type="text" class="form-control" placeholder="First Name">
                                    <span class="glyphicon glyphicon-user" data-target="true"></span>
                                </div>

                                <div class="form-group">
                                    <input class="form-input" ng-model="registerData.surname" type="text" class="form-control" placeholder="Surname">
                                    <span class="glyphicon glyphicon-lock" data-target="true"></span>
                                </div>

                                <div class="form-group">
                                    <input class="form-input" ng-model="registerData.email" type="email" class="form-control" placeholder="Email">
                                    <span class="glyphicon glyphicon-lock" data-target="true"></span>
                                </div>

                                <div class="form-group">
                                    <input class="form-input" ng-model="registerData.mobile" type="tel" class="form-control" placeholder="mobile">
                                    <span class="glyphicon glyphicon-lock" data-target="true"></span>
                                </div>

                                <div class="form-group">
                                    <select class="form-input form-control" ng-model="registerData.country">
                                        <option>Some Country</option>
                                        <option>Some Country</option>
                                    </select>
                                    <span class="glyphicon glyphicon-lock" data-target="true"></span>
                                </div>

                                <div class="form-group">
                                    <select class="form-input form-control" ng-model="registerData.region">
                                        <option>Some State</option>
                                        <option>Some State</option>
                                    </select>
                                    <span class="glyphicon glyphicon-lock" data-target="true"></span>
                                </div>

                                <div class="form-group">
                                    <button class="form-button" ng-click=" loginStatus= !loginStatus ">
                                        Enter
                                        <span class="glyphicon glyphicon-menu-right" data-target="true"></span>
                                    </button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    <!--Scripts-->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/js/collapse.js"></script>
    <script src="lib/bootstrap/js/dropdown.js"></script>

    <!--Angularjs adding module-->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>

    <!--Angularjs adding components-->
    <script src="app.js"></script>
    <script src="components/navController.js"></script>
    <script src="components/navService.js"></script>
        <script src="components/mainController.js"></script>

        <script src="components/appointments.component/appointmentsController.js"></script>


    </body>
</html>