
<div class="main-title-block">
    <div class="main-title-block__title">My Appointments</div>
    <div class="main-title-block__filters">
        <form data-role="form" class="form-inline">
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option>Period: This month</option>
                    <option>Period: Next month</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option>Report: SEABL(M)</option>
                    <option>Report: SOMEELSE(N)</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="table-block col-lg-12 table-responsive">
        <table class="table table-hover table-bordered table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>League</th>
                <th>Division</th>
                <th>Round</th>
                <th>Home</th>
                <th>Away</th>
                <th>Venue</th>
                <th>Officials</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle</li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey</li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-success">
                        C
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle</li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey</li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-success">
                        C
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>6 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/bigv.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                        <li class="position-item"><span class="position-item__position">U2:</span></li>
                        <li class="position-item"><span class="position-item__position">RC:</span></li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-info">
                        U
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="main-title-block">
    <div class="main-title-block__title">My Previous Appointments</div>
    <div class="main-title-block__filters">
        <form data-role="form" class="form-inline">
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option>Period: This month</option>
                    <option>Period: Next month</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option>Report: SEABL(M)</option>
                    <option>Report: SOMEELSE(N)</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="table-block col-lg-12 table-responsive">
        <table class="table table-hover table-bordered table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>League</th>
                <th>Division</th>
                <th>Round</th>
                <th>Home</th>
                <th>Away</th>
                <th>Venue</th>
                <th>Officials</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle</li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey</li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-success">
                        C
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle</li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey</li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-success">
                        C
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>6 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/bigv.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium</td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman</li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire</li>
                        <li class="position-item"><span class="position-item__position">U2:</span></li>
                        <li class="position-item"><span class="position-item__position">RC:</span></li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-info">
                        U
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
