
<div class="main-title-block">
    <div class="main-title-block__title">My Appointments</div>
    <div class="main-title-block__filters">
        <form data-role="form" class="form-inline">
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option>Period: This month</option>
                    <option>Period: Next month</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option>Report: SEABL(M)</option>
                    <option>Report: SOMEELSE(N)</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="table-block col-lg-12 table-responsive">
        <table class="table table-hover table-bordered table-condensed">
            <caption class="table-block__title">Upcoming appointments (next 7 days)</caption>
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>League</th>
                <th>Division</th>
                <th>Round</th>
                <th>Home</th>
                <th>Away</th>
                <th>Venue</th>
                <th>Court</th>
                <th>Officials</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium<br/>
                    <a class="table-block__venue-map-link" href="https://www.google.com.au/maps/place/Bendigo+Stadium/@-36.758793,144.2457273,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad7574d85cc7da7:0xf0579a5144313a0!8m2!3d-36.758793!4d144.247916" target="_blank">
                        View Map
                    </a>
                </td>
                <td class="table-block__court">
                    12
                </td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-final" title="Finalised">
                        F
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium<br/>
                    <a class="table-block__venue-map-link" href="https://www.google.com.au/maps/place/Bendigo+Stadium/@-36.758793,144.2457273,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad7574d85cc7da7:0xf0579a5144313a0!8m2!3d-36.758793!4d144.247916" target="_blank">
                        View Map
                    </a>
                </td>
                <td class="table-block__court">
                    12
                </td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-success" title="Confirmed">
                        C
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>6 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/bigv.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium<br/>
                    <a class="table-block__venue-map-link" href="https://www.google.com.au/maps/place/Bendigo+Stadium/@-36.758793,144.2457273,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad7574d85cc7da7:0xf0579a5144313a0!8m2!3d-36.758793!4d144.247916" target="_blank">
                        View Map
                    </a>
                </td>
                <td class="table-block__court">
                    12
                </td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle
                            <div class="block-alert block-alert_mini bg-success">
                                C
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey
                            <div class="block-alert block-alert_mini bg-success" >
                                C
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-info" title="Unconfirmed">
                        U
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="table-legend">

            <ul class="table-legend-list">
                <li class="table-legend-list__item">
                    <div class="block-alert bg-success" >
                        C
                    </div>
                    Confirmed
                </li>

                <li class="table-legend-list__item">
                    <div class="block-alert bg-info">
                        U
                    </div>
                    Unconfirmed
                </li>

                <li class="table-legend-list__item">
                    <div class="block-alert bg-final">
                        F
                    </div>
                    Finalised
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="main-title-block">
    <div class="main-title-block__title">My Previous Appointments</div>
    <div class="main-title-block__filters">
        <form data-role="form" class="form-inline">
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option>Period: This month</option>
                    <option>Period: Next month</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control filter-item filter-item_select">
                    <option>Report: SEABL(M)</option>
                    <option>Report: SOMEELSE(N)</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="table-block col-lg-12 table-responsive">
        <table class="table table-hover table-bordered table-condensed">
            <caption class="table-block__title">Upcoming appointments (next 7 days)</caption>
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>League</th>
                <th>Division</th>
                <th>Round</th>
                <th>Home</th>
                <th>Away</th>
                <th>Venue</th>
                <th>Court</th>
                <th>Officials</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium<br/>
                </td>
                <td class="table-block__court">
                    12
                </td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-final">
                        F
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>5 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/seabl.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium<br/>
                </td>
                <td class="table-block__court">
                    12
                </td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-final">
                        F
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-block__date">
                    <div class="date">29.12.2015</div>
                    <div class="date-ago"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>6 days left</div>
                </td>
                <td class="table-block__time">3:00pm</td>
                <td class="table-block__league">
                    <img src="images/teams/bigv.png" alt="" />
                </td>
                <td class="table-block__division">MEN</td>
                <td class="table-block__round">12</td>
                <td class="table-block__home">
                    <img src="images/teams/braves.png" alt="" />
                    Berdigo Braves
                </td>
                <td class="table-block__away">
                    <img src="images/teams/frankstone.png" alt="" />
                    Frankston Blues
                </td>
                <td class="table-block__venue">Bendigo Basketball Stadium<br/>
                </td>
                <td class="table-block__court">
                    12
                </td>
                <td class="table-block__officials">
                    <ul class="position-list">
                        <li class="position-item"><span class="position-item__position">R:</span> J. Chapman
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U1:</span> R. Manhire
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">U2:</span> T. Earle
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                        <li class="position-item"><span class="position-item__position">RC:</span> P. Carey
                            <div class="block-alert block-alert_mini bg-final">
                                F
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="table-block__alert">
                    <div class="block-alert bg-final">
                        F
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
